@import url('https://fonts.cdnfonts.com/css/arial-mt');

body{
    color: #0a6395;
    height: 774px;
    width: 363px;
    background-color: rgb(90, 87, 87);
    margin-left: 200px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 12px;
}

.outer_frame {
    padding: 16px 25px 26px 22px;
    height: 100%;
    box-sizing: border-box;
    background-color: white;
}

.inner_frame {
    height: 100%;
    width: 100%;
    background-color: #e6f3fb;
}

.inner_content{
    padding: 5px 9px 16px 11px;
}

.content1 .con_title {
    margin-top: -1px;
    margin-left: 1px;
    line-height: 15px;
    font-size: 16px;
    color: black;
}

.title{
    margin: 0;
    font-size: 16px;
    line-height: 15px;
    color: black;
}

.inner_content1{

    background-color: burlywood;
}

.con_center{
    border-top: 4px solid #f7a418;
    padding-top: 7px;
    height: 180px;
    background-color: white;
}

.centop_left {
    float: left;
    width: 50%;
    margin-left: 8px;
}

.centop_right{
    margin-left: 16px;
    float: left;
    width: 35%;
}

.centop_right--title{
    font-family: 'Arial MT', sans-serif;
    font-style: bold;
    font-weight: bold;
    line-height: 15px;
    margin-left: -2px;
    margin-top: 1px;
}

.centop_right--text {
    line-height: 15px;
    margin-top: -13px;
    margin-left: 1px; 
    color: black;
}

.centop_right--text{
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 15px;
    font-size: 12px;
}

.list__talk{
    margin-top: -87px;
    background-color: #f9f1c2;
    list-style-type: none;
}

.list_talk--item{
    padding-top: 7px;
    margin-left: -39px;
    padding-bottom: 11px;
    font-family: 'Arial MT', sans-serif;
    border-bottom: 1px solid #ffffff;
    margin-bottom: 3px;

}

.item__text {
    margin: 0;
    padding-left: 8px;

}


.content2 {
    margin-top: -7px;
}

.con_center2 {
    border-top: 4px solid #f7a418;
}

.cent_top2 {
    background-color: #ffffff;
    display: flex;
}

.centop_right2 {
    padding-left: 24px;
    padding-top: 5px;
}

.centop_right2 .text {
    font-size: 11px;
    line-height: 14px;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}

.img_cont2{
    padding-top: 20px;
    padding-left: 16px;
    width: 24%;
    height: 100%;
}

.info_basic {
    margin-top: -8px;
}

.author_cont2 {
    margin-top: 24px;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}

.text_content {
    margin-right: 8px;
}



.link_hre{
    color: #0a3659;
}

.cent_bot2{
    height: 48px;
    background-image: url("assets/bnr_footer.png");
    background-repeat: repeat;
    background-size: 296px 49px;
}

.text_footer2{
    padding-top: 25px;
    padding-left: 22px;
    padding-right: 132px;
    padding-bottom: 8px;
    font-size: 11px;
    line-height: 14px;
}

.cont_tx{
    font-size: 11px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: -11px;
    margin-bottom: 0px;
    margin-left: 0px;
    color: black;
}

#cont_tx{
    text-decoration: none;
    color: #0a6395;
}

.content3 {
    margin-top: 22px;
}
.con_center3 {
    margin-top: 1px;
    border-top: 3px solid #f7a418;
    background-image: url(assets/bnr_footer_content3.png);
    background-repeat: repeat;
    background-size: 297px 113px;
    height: 113px;
}

.con_center3 .text {
    margin-left: 1px;
    color: black;
    font-size: 12px;
    line-height: 14px;
    margin-top: 9px;
    padding-right: 3px;
}

.text_content3 {
    padding-top: 5px;
    margin-left: 23px;
}

.cont_tx3{
    font-size: 12px;
    text-decoration: none;
    color: #0a6395;   
    padding-left: 22px;

}

.content4 {
    margin-top: 9px;
    border-top: 1px solid #595959;
}

.content4 .title {
    font-size: 14px;
    padding-top: 4px;
}

.content4__list{
    margin: 0;
    list-style-type: none;
    padding-top: 11px;
    padding-left: 10px;
    border: 1px solid #595959;
    width: 97%;
    height: -3%;
    padding-bottom: 5px;
    background-color: white;
}

.date_conts{
    font-size: 11px;
    font-family: Arial, Helvetica, sans-serif;
    color: #595959;
}

.con_center3 .text{
    height: 54px;
    width: 125px;
    padding-top: 13px;
    padding-left: 21px;
    line-height: 15px;
    word-spacing: 1.5px;
}

.content3 .title{
    word-spacing: 1px;
}

.list4--item {
    color: #4d5d73;
}
